<div class="settings-container">
  <i class="fas fa-cog settings-icon" (click)="toggleSettingsCard()"></i>
  <div class="settings-modal" *ngIf="showSettingsCard">
    <div class="settings-card">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" [(ngModel)]="title" name="title" required>
        </div>
        <div class="form-group">
          <label for="resp">Responsibility</label>
          <div class="select-container">
            <select id="resp" [(ngModel)]="resp" name="resp" required>
              <option *ngFor="let name of respList" [value]="name">{{ name }}</option>
              <option value="new">Create new responsibility</option>
              <button type="button" class="clear-btn" (click)="clearResp()">x</button>
            </select>
            <button type="button" class="clear-btn" (click)="clearResp()">x</button>
          </div>
          <div *ngIf="resp === 'new'" class="new-resp-container">
            <input type="text" [(ngModel)]="newResp" placeholder="New responsibility" name="newResp"/>
            <button type="button" (click)="addNewResp()">Create</button>
          </div>
        </div>
        <div class="form-group">
          <label for="dateOverture">Date d'ouverture</label>
          <input type="date" id="dateOverture" [(ngModel)]="dateOverture" name="dateOverture" required>
        </div>
        <div class="form-group">
          <label for="dateCloture">Date cloture</label>
          <input type="date" id="dateCloture" [(ngModel)]="dateCloture" name="dateCloture" required>
        </div>
        <button type="submit" class="validate-button">Valider</button>
      </form>
    </div>
  </div>
</div>
